__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
services/*/venv/
services/*/logs/
services/*/__pycache__/
services/*/media/
services/*/staticfiles/
api-gateway/venv/
services/auth-service/venv/
services/course-service/venv/
services/admission-service/venv/
services/notification-service/venv/
services/certification-service/venv/
